<section class="content">
    <h1 class="content-title">
        <span>ice</span>
        <span>land</span>
    </h1>
    <div class="tour-desription">
        <div class="slider-navigation">
            <div class="slide-switch-container">
                <span class="slider-index">01</span>
                <div class="slider-arrow">
                    <span class="back arrow">&#10094;</span><span class="forward arrow">&#10095;</span>
                </div>
            </div>
            <div class="slider-dots">
                <span class="dots active"></span><span class="dots"></span><span class="dots"></span><span
                    class="dots"></span>
            </div>
        </div>
        <div class="tour-description-content">
            <h3 class="description-title">discover tours</h3>
            <p class="decritption-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum optio
                labore asperiores, nisi quod molestias debitis dignissimos culpa ipsam reprehenderit!</p>
            <a href="" class="all-tours-navigation">view all trips <span class="catalog-navigation-arrow"></span></a>
        </div>
    </div>
</section>